.separator {
    border-bottom: 1px solid #d7d7d7;
}



.btn{
    border-radius: 50px;
    outline: initial!important;
    box-shadow: none!important;
    font-size: .8rem;
    padding: .5rem 1.25rem;
}

.btn-xs {
    padding: .25rem .75rem;
    font-size: .76rem;
    line-height: 1.3;
}

.btn-group{
    position: relative;
    flex: 1 1 auto;
}

.dropdown-menu{
    font-size: .8rem;
    border-radius: .1rem;
    background: #fff;
    border-color: rgba(58,58,58,.15);
}

.rounded .dropdown-menu {
    border-radius: .75rem;
}

#displayOptions .btn-outline-dark:not(:disabled):not(.disabled).active, #displayOptions .btn-outline-dark:not(:disabled):not(.disabled):active, #displayOptions .show>.btn-outline-dark.dropdown-toggle, #displayOptions button:hover {
    background-color: #922c88;
    border-color: #922c88;
    color: #fff;
}

dropdown-item {
    padding: .5rem 1.25rem;
    color: #3a3a3a;
}

.search-sm {
    position: relative;
}

.search-sm input {
    background: none;
    outline: initial!important;
    border: 1px solid #8f8f8f;
    border-radius: 15px;
    padding: .25rem .75rem;
    font-size: .76rem;
    line-height: 1.3;
    color: #3a3a3a;
}


.text-small {
    font-size: .76rem;
    line-height: .9rem;
}
