body {
    background-color: #f8f8f8 !important;
    font-family: "Nunito",sans-serif;
    font-size: .9rem !important;;
    font-weight: 400 !important;;
}
.sp-a {
    color: #3a3a3a !important;
    transition: color .2s !important;
}
.sp-a:active, .sp-a:hover {
    text-decoration: initial !important;
    color: #922c88 !important;
}

.left-panel{
    width: 800px;
    border-radius: 26px !important;
    min-height: 1000px;
}

.right-panel{
    width: 1000px;
    margin-left: 30px;
    border-radius: 26px !important;
    min-height: 1000px;
}

.main-box-excursion{
    /*max-width: 900px;*/
    /*min-height: 1000px;*/

}

.excursion_elem {
    /*min-height: 95px;*/
    /*width: 100%;*/
}

.text-heading{
    font-size: 1rem;
}

.round-border{
    border-radius: .75rem !important;
}

.form-text{
    font-size: 14px;
    font-weight: 400;
}

.text-description{
    text-align: justify;
    font-size: 12px;
}

.form-text-head{
    font-size:16px;
    font-weight: 600;
}


@media (min-width: 1200px){
    .wide-container {
        max-width: 1640px !important;
    }
}

.popup-content {
  padding: 10px;
}
.badge-container{
    font-size: .8rem !important;
    max-width: 300px;
    flex-wrap: wrap;
}
.badge {
    padding: .55em .75em .6em !important;
    font-size: 74% !important;
    font-family: "Nunito",sans-serif;
}

.badge.badge-pill {
    padding-right: 1.25em !important;
    padding-left: 1.25em !important;
}

.badge-secondary, .bg-secondary {
    background-color: #4556ac!important;
    color: #fff;
}

@media (min-width: 992px) {
    .align-items-lg-center {
        align-items: center !important;
    }
    .flex-lg-row {
        flex-direction: row !important;
    }
    .excursion_elem {
        min-height: 95px;
    }

}

.style-text{
    font-size: .85rem;
    line-height: 1.3rem;
    font-family: "Nunito",sans-serif;
}