<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link type="text/css" href="{% static 'styles.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bootstrap.css' %}" rel="stylesheet">
  {% block head_links %}
        {% endblock %}

</head>
<body {% block body_attr %}{% endblock %}>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Top navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
    <!--        <a  href="#">Home <span class="sr-only">(current)</span></a>-->
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "http://127.0.0.1:8000/page/excursions"}}">Список экскурсий</a>
          </li>
          <li class="nav-item">
{#            <a class="nav-link" href="{% url 'comments %}">Comments</a>#}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "http://127.0.0.1:8000/page/excursions/add"}}">Новая экскурсию</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "http://127.0.0.1:8000/page/culture/add"}}">Новое место</a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link" routerLink="/login">Login</a>#}
{#          </li>#}
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div id="main">
        {% block main %}
        {% endblock %}
    </div>

    <footer></footer>
</body>