{% extends "base.html" %}
{% block title %}Добавление мест{% endblock %}
{% block head_links%}
  <title>Map Search</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">
     <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>
     <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>

     <script>
     function round(number, precision){
      precision = precision == null ? 0 : (precision >= 0 ? Math.min(precision, 292) : Math.max(precision, -292))
      if (precision) {
        // Shift with exponential notation to avoid floating-point issues.
        // See [MDN](https://mdn.io/round#Examples) for more details.
        let pair = `${number}e`.split('e')
        const value = Math.round(`${pair[0]}e${+pair[1] + precision}`)

        pair = `${value}e`.split('e')
        return +`${pair[0]}e${+pair[1] - precision}`
      }
      return func(number)
    }


     function GetMap(){

           var map = new atlas.Map("myMap", {
              center: [ 30.31, 59.94],
              zoom:13,
              authOptions: {
                  authType: 'subscriptionKey',
                  subscriptionKey: 'ks96yh-OdvLL-CLEiZtgpSA0Iu1vE9jJ_rqL3wvsjck',
              }});

           var subscriptionKeyCredential = new atlas.service.SubscriptionKeyCredential(atlas.getSubscriptionKey());
              // Use subscriptionKeyCredential to create a pipeline
            var pipeline = atlas.service.MapsURL.newPipeline(subscriptionKeyCredential);
            var position = undefined;
            // Construct the SearchURL object
            var searchURL = new atlas.service.SearchURL(pipeline);

            map.events.add("load", function(e){
              map.getCanvasContainer().style.cursor = "pointer";
              var popup = new atlas.Popup();
              map.events.add("click", function(e){
                position = [e.position[0], e.position[1]];
                searchURL.searchAddressReverse(atlas.service.Aborter.timeout(10000), position, {
                  allowFreeformNewline: true
                }).then((addresses) => {
                  //Get data features from response
                  var data = addresses.geojson.getFeatures();

                  // Construct the popup
                  var popupContent = document.createElement("div");
                  popupContent.classList.add("popup-content");
                  popupContent.innerHTML =
                    data.length !== 0
                    ? data.features[0].properties.address.freeformAddress + `  ${ round(e.position[0], 3)} ${ round(e.position[1], 3)}`
                  : "No address for that location!";
                  popup.setPopupOptions({
                    position: e.position,
                    content: popupContent
                  });

                  // Render the popup on the map
                  popup.open(map);
                });

                  $('input[name="latitude"]').val(round(e.position[0],3));
                  $('input[name="longitude"]').val(round(e.position[1],3));
              });
            });

           map.events.add('ready', function() {
              //Create a data source and add it to the map.
              datasource = new atlas.source.DataSource(null, {cluster:true});
              map.sources.add(datasource);

              //Add a layer for rendering point data.

              var resultLayer = new atlas.layer.SymbolLayer(datasource, null, {
                  iconOptions: {
                      image: 'pin-round-darkblue',
                      anchor: 'center',
                      allowOverlap: true
                  },
                  textOptions: {
                      anchor: "top"
                  }
              });
              map.layers.add(resultLayer);
              map.layers.add(new atlas.layer.SymbolLayer(datasource, null, {
                  iconOptions: {
                      image: ['get', 'icon'],
                      allowOverlap: true
                 },
                  textOptions: {
                      textField: ['get', 'title'],
                      offset: [0, 1.2]
                  },
                  filter: ['any', ['==', ['geometry-type'], 'Point'], ['==', ['geometry-type'], 'MultiPoint']]
              }));
                <!-- -->
          });

     }
     </script>

{% endblock %}
{% block body_attr %}onload="GetMap()"{% endblock %}
{% block main %}

<div class="container wide-container" >

  <div class="col-md-12 order-md-1">
    <div class="d-flex flex-row main-box-excursion">
      <div class="left-panel card card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Название места</label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Описание</label>
            <input type="text" name="description"  class="form-control" id="exampleInputPassword1">
             <small id="description-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <input type="hidden" id="latitude" name="latitude" value="">
          <input type="hidden" id="longitude" name="longitude" value="">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="right-panel card card-body">
        <div id="myMap" style="width: 100%; height: 600px"></div>
      </div>
    </div>
  </div>


  {{ page_obj.paginator.num_pages }}
</div>

{% endblock %}