{% extends "base.html" %}
{% block title %}Добавление мест{% endblock %}
{% block head_links %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">
  <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>
  <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <script type="text/javascript">

      var activePoints = [];
      var idActivePoints = [];
      var routeURL, datasource, map, route;

      function activeFunc(id, direction) {
          let index_obj = idActivePoints.findIndex((el) => el == id);
          console.log(direction, index_obj, idActivePoints.length - 2)
          if (direction === 1 && index_obj === idActivePoints.length - 2) {
              change_visible_btn(id, 'next', false);
              change_visible_btn(idActivePoints[index_obj + 1], 'next', true);
          }
          if (direction === 0 && index_obj === 1) {
              change_visible_btn(id, 'prev', false);
              change_visible_btn(idActivePoints[0], 'prev', true);
          }
          if (direction === 0 && index_obj === idActivePoints.length - 1) {
              change_visible_btn(id, 'next', true);
              change_visible_btn(idActivePoints[index_obj - 1], 'next', false);

          }
          if (direction === 1 && index_obj === 0) {
              change_visible_btn(id, 'prev', true);
              change_visible_btn(idActivePoints[1], 'prev', false);
          }
          let main_elem = $(`#${id}`);
          let next_elem;
          if (direction === 0) {
              next_elem = main_elem.prev();
              {#[idActivePoints[index_obj-1],idActivePoints[index_obj]] = [idActivePoints[index_obj],idActivePoints[index_obj-1]]#}
              {#[activePoints[index_obj-1],activePoints[index_obj]] = [activePoints[index_obj],activePoints[index_obj-1]]#}
              idActivePoints[index_obj] = idActivePoints.splice(index_obj - 1, 1, idActivePoints[index_obj])[0];
              activePoints[index_obj] = activePoints.splice(index_obj - 1, 1, activePoints[index_obj])[0];
          } else {
              next_elem = main_elem.next();
              {#[idActivePoints[index_obj+1],idActivePoints[index_obj]] = [idActivePoints[index_obj],idActivePoints[index_obj+1]];#}
              {#[activePoints[index_obj+1],activePoints[index_obj]] = [activePoints[index_obj],activePoints[index_obj+1]];#}
              idActivePoints[index_obj] = idActivePoints.splice(index_obj + 1, 1, idActivePoints[index_obj])[0];
              activePoints[index_obj] = activePoints.splice(index_obj + 1, 1, activePoints[index_obj])[0];
          }
          var copy_from = $(main_elem).clone(true);
          $(next_elem).replaceWith(copy_from);
          var copy_to = $(next_elem).clone(true);
          $(main_elem).replaceWith(copy_to);

      }

      function change_visible_btn(id, type, inf) {
          console.log(`#${id} .${type}`);
          if (inf)
              $(`#${id} .${type}`).removeClass('invisible');
          else
              $(`#${id} .${type}`).addClass('invisible');
      }

      $(document).ready(() => {
          var array_points = [];
          var popup;
          map = new atlas.Map("myMap", {
              center: [30.31, 59.94],
              zoom: 13,
              authOptions: {
                  authType: 'subscriptionKey',
                  subscriptionKey: 'ks96yh-OdvLL-CLEiZtgpSA0Iu1vE9jJ_rqL3wvsjck',
              }
          });

          var subscriptionKeyCredential = new atlas.service.SubscriptionKeyCredential(atlas.getSubscriptionKey());
          var pipeline = atlas.service.MapsURL.newPipeline(subscriptionKeyCredential);
          var position = undefined;
          // Construct the SearchURL object
          var searchURL = new atlas.service.SearchURL(pipeline);
          routeURL = new atlas.service.RouteURL(pipeline);
          map.events.add("load", function (e) {

              /* Update the style of mouse cursor to a pointer */
              map.getCanvasContainer().style.cursor = "pointer";

              /* Create a popup */
              var popup = new atlas.Popup();
              /* Upon a mouse click, open a popup at the clicked location and render in the popup the address of the clicked location*/
              map.events.add("click", function (e) {
                  position = [e.position[0], e.position[1]];
                  /* Execute the reverse address search query and open a popup once a response is received */
                  {

                      // Construct the popup
                      var popupContent = document.createElement("div");
                      popupContent.classList.add("popup-content");

                      // Render the popup on the map
                      popup.open(map);
                  }
                  ;
              });
          });

          map.events.add('ready', function () {
              //Create a data source and add it to the map.
              datasource = new atlas.source.DataSource();
              map.sources.add(datasource);
              popup = new atlas.Popup({
                  pixelOffset: [0, -40],
                  closeButton: false
              });
              //Add a layer for rendering point data.

              map.layers.add(new atlas.layer.SymbolLayer(datasource, null, {
                  iconOptions: {
                      image: ['get', 'icon'],
                      allowOverlap: true
                  },
                  textOptions: {
                      textField: ['get', 'title'],
                      offset: [0, 1.2]
                  },
                  filter: ['any', ['==', ['geometry-type'], 'Point'], ['==', ['geometry-type'], 'MultiPoint']] //Only render Point or MultiPoints in this layer.
              }));
              var obj_arr = {{ cul_objects|safe }};
              //console.log(obj_arr);

              for (point of obj_arr) {
                  let point_marker = new atlas.HtmlMarker({
                      color: 'DodgerBlue',
                      position: [point["fields"]["latitude"], point["fields"]["longitude"]]
                  });
                  point_marker.properties = {
                      id_object: point["pk"],
                      name: point["fields"]["name"],
                  };
                  map.markers.add(point_marker);
                  map.events.add('mouseover', point_marker, markerHovered);
                  map.events.add('mouseout', point_marker, hidePopup);
                  map.events.add('click', point_marker, function (e) {
                      let marker = e.target;
                      let m_options = marker.getOptions()
                      if (m_options.color == 'DodgerBlue') {
                          marker.setOptions({color: "Crimson"});
                          change_visible_btn(idActivePoints[activePoints.length - 1], 'next', true);
                          let is_first = activePoints.length === 0 ? " invisible" : " ";
                          activePoints.push(point_marker.getOptions().position);
                          idActivePoints.push(marker.properties.id_object);
                          $('div[id="place-container"]').append(`<div class="alert alert-primary d-flex justify-content-between" id="${marker.properties.id_object}" role="alert">
                        ${marker.properties.name}
                        <input type="hidden" id="place" name="place" value="${marker.properties.id_object}">
{#<a href="#"><i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i></a>#}
                        <div class="d-flex flex-column justify-content-between" style="margin: -5px 0;">
                        <a href="javascript:void(0);" class="prev${is_first}" onClick="activeFunc(\'${marker.properties.id_object}\',0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
</svg>
                         </a>
                         <a href="javascript:void(0);" class="next invisible" onClick="activeFunc(\'${marker.properties.id_object}\',1)">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
</svg>
                          </a>
                         </div>
                      </div>`);
                      } else {
                          let index_obj = idActivePoints.findIndex((el) => marker.properties.id_object == el);
                          if (index_obj === 0) {
                              change_visible_btn(idActivePoints[1], 'prev', false);
                          } else if (index_obj === idActivePoints.length - 1) {
                              change_visible_btn(idActivePoints[index_obj - 1], 'next', false);
                          }
                          console.log(index_obj)
                          activePoints.splice(index_obj, 1);
                          idActivePoints.splice(index_obj, 1);
                          marker.setOptions({color: 'DodgerBlue'});
                          $(`div[id="${marker.properties.id_object}"]`).detach();
                      }
                      console.log(activePoints);
                  });
              }
          });


          function markerHovered(e) {
              let marker = e.target;
              let m_options = marker.getOptions();
              let m_properties = marker.properties;
              popup.setOptions({
                  content: `<div style="padding:10px;"> ${m_properties.id_object + " " + m_properties.name}</div>`,
                  position: m_options.position
              });

              //Open the popup.
              popup.open(map);
          }

          function hidePopup() {
              popup.close();
          }
      })


      $(document).ready(() => {
          $('#build_road').click((e) => {
              e.preventDefault();

              // floid(activePoints);

              map.layers.add(new atlas.layer.LineLayer(datasource, null, {
                  strokeColor: '#34D800',
                  strokeWidth: 3,
                  lineJoin: 'round',
                  lineCap: 'round'
              }), 'labels');

              routeURL.calculateRouteDirections(atlas.service.Aborter.timeout(10000), activePoints).then((directions) => {
                  if (route)
                      datasource.remove(datasource.shapes[0].data.id);
                  route = directions.geojson.getFeatures();
                  datasource.add(route);
              });
          });
      })
  </script>

{% endblock %}
{% block body_attr %}{% endblock %}
{% block main %}

  <div class="container wide-container">

    <div class="col-md-12 order-md-1">
      <div class="d-flex flex-row main-box-excursion">
        <div class="left-panel card card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Название экскурсии</label>
              <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Описание</label>
              <input type="text" name="text" class="form-control" id="text">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Цена</label>
              <input type="text" name="price" class="form-control" id="price">
            </div>

            <div id="place-container"></div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>

        <div class="right-panel card card-body">
          <div id="myMap" style="width: 100%; height: 600px"></div>
          <div class="d-flex justify-content-center mt-5">
            <button id="build_road" class="btn btn-success"> Построить маршрут</button>
          </div>
        </div>
      </div>
    </div>


    {{ page_obj.paginator.num_pages }}
  </div>

{% endblock %}