{% extends "base.html" %}
{% block title %}Список экскурсий{% endblock %}
{% block head_links %}
  {% load static %}
  <link type="text/css" href="{% static 'search_styles.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      var page = 1, page_size = 8, num_pages = 1, source_exc = 0;
      function update_page(){
              $('.pagination').addClass('invisible');
              axios.get('http://127.0.0.1:8000/api/note', {params: {page, page_size, source_exc}}).then((response) => {
                  for (i of response.data.notes) {
                  $('.main-box-excursion').append(`<div class="col-12">
                      <div>
                          <div class="card excursion_elem d-flex flex-row mb-3 round-border">
                              <div class="card-body align-self-center d-flex flex-column flex-lg-row align-items-lg-center">
                                  <a class="sp-a d-inline-block text-heading mr-auto" href="http://127.0.0.1:8000/page/excursion/${i.id}">${i.name}</a>
                                <p class="d-inline-block text-muted mb-1 mr-5" style="width:100px">${i.name_site}</p>

                                <div class="badge-container">
                                  <span class="badge badge-secondary badge-pill mb-1">Архитектура</span>
                                  <span class="badge badge-secondary badge-pill">АРХИТЕКТУРА</span>
                                  <span class="badge badge-secondary badge-pill">PROCESSED</span>
                                  <span class="badge badge-secondary badge-pill">Парки</span>
                                  <span class="badge badge-secondary badge-pill">Иная дичь</span>
                                </div>

                              </div>
                          </div>
                      </div>
                    </div>`)
                  }
                  page = +response.data.page;
                  num_pages = +response.data.num_pages;
                  console.log(page, num_pages)
                  if (page == 2)
                      $('#page-prev').removeClass('disabled');
                  else if (page == 1)
                      $('#page-prev').addClass('disabled');
                  $('#page-prev button').attr('page',`${page-1}`);
                  $('#page-next button').attr('page',`${page+1}`);
                  if (page != num_pages)
                      $('#page-next').removeClass('disabled');
                  else
                      $('#page-next').addClass('disabled');

                  if (page == 2)
                      $('#page-one').removeClass('d-none');
                  else if (page == 1)
                      $('#page-one').addClass('d-none');

                  if (page > 2)
                      $('#page-two').removeClass('d-none');
                  else
                      $('#page-two').addClass('d-none');

                  $('#page-three a').text(`${page}`);


                  if (page +1 <= num_pages && num_pages > 2)
                      $('#page-four').removeClass('d-none');
                  else
                      $('#page-four').addClass('d-none');

                  $('#page-five button').attr('page',`${num_pages}`)
                  $('#page-five button').text(`${num_pages}`);
                  if (page != num_pages )
                      $('#page-five').removeClass('d-none');
                  else
                      $('#page-five').addClass('d-none');
                  $('.pagination').removeClass('invisible')
              })
      }
      $(document).ready(() => {
          $('div[aria-labelledby="dropdownMenuButton1"] button').click(function () {
              page = 1
              $('button[id="dropdownMenuButton1"]').text(`Фильтр: ${$(this).text()}`);
              $('.main-box-excursion').children().detach();
              switch ($(this).text()){
                  case "Все":
                      source_exc = 0;
                      break;
                  case "Свои":
                      source_exc = 1;
                      break;
                  case "Чужие":
                      source_exc = -1;
                      break;
              }
              update_page();
          });
          $('div[aria-labelledby="dropdownMenuButton3"] button').click(function () {
              page = 1;
              page_size = Number($(this).text());

              $('button[id="dropdownMenuButton3"]').text(`${$(this).text()}`);
              $('.main-box-excursion').children().detach();
              update_page();
          });


          $('.pagination').append(`
                <li id="page-prev" class="page-item">
                    <button class="page-link disabled" href="?page=1" tabindex="-1" page="1">Previous</button>
                </li>

                <li id="page-one" class="page-item d-none"><button class="page-link" page="1">1</button></li>
                <li id="page-two" class="page-item disabled d-none"><a class="page-link" href="#">...</a></li>
                <li id="page-three" class="page-item disabled"><a class="page-link" href="#">${page}</a></li>
                <li id="page-four" class="page-item disabled d-none"><a class="page-link" href="#" page="1">...</a></li>
                <li id="page-five" class="page-item d-none"><button class="page-link" page="1">${num_pages}</button></li>

                <li id="page-next" class="page-item">
                    <button class="page-link" tabindex="-1" page="1">Next</button>
                </li>`)
          $('.page-item button').click(function () {
              page = +$(this).attr('page');

              $('.main-box-excursion').children().detach();
              update_page();
          });
          update_page();
      })
  </script>

{% endblock %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mb-2">
          <div class="d-md-block collapse">
            <div class="d-block d-md-inline-block pt-1">
              <div class="mr-1 float-md-left btn-group mb-1n dropdown">
                <button class="btn btn-outline-dark dropdown-toggle btn-xs" type="button" id="dropdownMenuButton1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Фильтр: Все
                </button>
                <div class="dropdown-menu" id aria-labelledby="dropdownMenuButton1">
                  <button id="" class="dropdown-item" type="button">Все</button>
                  <button id="" class="dropdown-item" type="button">Свои</button>
                  <button id="" class="dropdown-item" type="button">Чужие</button>
                </div>
              </div>
              <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                <input type="text" name="keyword" id="search" placeholder="Поиск">
              </div>
            </div>
            <div class="float-md-right pt-1">
              <span class="text-muted text-small mr-1">0-20 of 20 </span>
              <div class="d-inline-block dropdown">
                <button type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" class="dropdown-toggle btn btn-outline-dark btn-xs">8
                </button>
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="dropdownMenuButton3">
                  <button type="button" tabindex="0" role="menuitem" class="dropdown-item">4</button>
                  <button type="button" tabindex="0" role="menuitem" class="dropdown-item">8</button>
                  <button type="button" tabindex="0" role="menuitem" class="dropdown-item">12</button>
                  <button type="button" tabindex="0" role="menuitem" class="dropdown-item">20</button>
                </div>
              </div>
            </div>
            <div class="float-md-right pt-1"></div>
          </div>
        </div>
        <div class="separator mb-5"></div>
      </div>
    </div>

    <div class=" order-md-1">
      <div class="row main-box-excursion">
{#        {% for object in object_list %}#}
{#          <div class="col-12">#}
{#            <div>#}
{#              <div class="card excursion_elem d-flex flex-row mb-3 round-border">#}
{#                <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">#}
{#                  <a class="sp-a d-inline-block text-heading "#}
{#                     href="{{ "http://127.0.0.1:8000/page/excursion/" }}{{ object.id }}">{{ object.name }}</a>#}
{#                  <p class="d-inline-block text-muted mb-1">{{ object.name_site }}</p>#}
{#                  <p class="d-inline-block text-muted mb-1"></p>#}
{#                  <div class="badge-container">#}
{#                    <span class="badge badge-secondary badge-pill mb-1">Архитектура</span>#}
{#                    <span class="badge badge-secondary badge-pill">АРХИТЕКТУРА</span>#}
{#                    <span class="badge badge-secondary badge-pill">PROCESSED</span>#}
{#                    <span class="badge badge-secondary badge-pill">Парки</span>#}
{#                    <span class="badge badge-secondary badge-pill">Иная дичь</span>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        {% endfor %}#}
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {#        {% if page_obj.has_previous %}#}
        {#             <li class="page-item">#}
        {#            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>#}
        {#            {% else %}#}
        {#              <li class="page-item disabled">#}
        {#            <a class="page-link" href="?page=1" tabindex="-1">Previous</a>#}
        {#          {% endif %}#}
        {#        </li>#}
        {#        {% if page_obj.number != 1 %}#}
        {#          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>#}
        {#        {%  endif %}#}
        {#        {% if page_obj.previous_page_number != 1 %}#}
        {#          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>#}
        {#        {%  endif %}#}
        {#        <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>#}
        {#        {% if page_obj.next_page_number != page_obj.paginator.num_pages and page_obj.paginator.num_pages != 1 %}#}
        {#          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>#}
        {#        {%  endif %}#}
        {#        {% if page_obj.number != page_obj.paginator.num_pages %}#}
        {#          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>#}
        {#        {%  endif %}#}
        {#        <li class="page-item d">#}
        {#          {% if page_obj.has_next %}#}
        {#            <a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a>#}
        {#            {% else %}#}
        {#            <a class="page-link" href="?page=1" tabindex="-1">Next</a>#}
        {#          {% endif %}#}
        {#        </li>#}
      </ul>
    </nav>
  </div>

{% endblock %}