{% extends "base.html" %}
{% block title %}Карта тест{% endblock %}
{% block main %}
<div class="container " >

  <div class="col-md-12 order-md-1">
    <div class="row main-box-excursion">

      <div class="col-12">
        <div id="map"></div>
      </div>

    </div>
  </div>


</div>


{% endblock %}